#nav-toggle
  %div
    %span
    %span
    %span
#gloval-nav
  %nav
    %ul#navigation
      %li
        %a{:href => "#"} E
      %li
        %a{:href => "#"} L
      %li
        %a{:href => "#"} I
      %li
        %a{:href => "#"} Z
      %li
        %a{:href => "#"} A
  #nav-bg-wrap
    .nav-bg.home
    .nav-bg.news
    .nav-bg.about
    .nav-bg.works
    .nav-bg.contact
#container
  %h1
    Hey Eliza
